body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
}
#page-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: fit-content;
    padding: 20px 0px;
}
#title-section {
    width: 100vw;
    color:#ffffff;
    font-family:'Silkscreen';
    font-size: 3vw;
    text-shadow: 0px 0px 7px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    background-color: rgba(50, 50, 50, 0.75);
}
@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 500–1199 */
  }
}
@media (min-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* ≥ 1300 */
  }
}