html {
padding:20px;
}

.date-header {
  width:100px;
   margin:0px auto 15px auto;
   font-size:12pt;
   font-family:'Silkscreen';
   background-color:#000000;
   color:#ffffff;
   padding:5px;
}

.header {
   margin:5px auto 5px auto;
   font-size:24pt;
   font-family:'Computer Modern Serif';
   font-style: italic;
}
.header-2 {
    margin:5px auto 5px auto;
    font-size:18pt;
    font-family:'Computer Modern Serif';
    font-style: italic;
}
.description {
   font-size:12pt;
   font-family:'Computer Modern Serif';
   margin:5px 0px 10px 0px;
}

.featured-image {
	width:540px;
}

.caption-title {
    margin:-30px auto 10px auto;
    font-size:12pt;
    font-family:'Silkscreen';
    background-color:#333333;
    color:#ffffff;
    padding:5px;
}

.caption-body {
   font-size:11pt;
   font-family:'Computer Modern Serif';
}
.button-inner {
    display: flex;
     justify-content: center;
     align-items: center;
	text-decoration:none;
	background:#ffc60c;
	position:relative;
	width:300px;
	left:50%;
	transform:translate(-50%, 0%);
	padding:10px 20px 10px 20px;
	border-radius:12px;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 1);
}
.button-link {
	text-decoration:none;
	font-family:'Silkscreen';
	font-size:12pt;
	color:#000000;
}
.grid-container {
  display: grid;
  grid-template:  auto / auto auto auto auto;
  grid-gap: 3px;
}
.grid-container img {
	width:120px;
}
.grid-container-2 {
  display: grid;
  grid-template:  auto / auto auto;
  grid-gap: 3px;
}
.arrow-click {
	position:relative;
	margin:0px 10px 0px 450px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

	
	
<style>
html, body {
    overflow: hidden;
}
#close-button {
  position:fixed;
  top:5%;
  right:4%;
  z-index:2000;
}
#page-wrapper-0 {
            position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
}
#page-wrapper-1 {
  height:100%;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  opacity:1;
  background-image:url("images/backgrounds/9.png");
      -webkit-transition: opacity 30s ease-out;
      -moz-transition: opacity 30s ease-out;
      -o-transition: opacity 30s ease-out;
      transition: opacity 30s ease-out;
}
#page-wrapper-2 {
  height:100%;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  opacity:0;
  background-image:url("images/backgrounds/15.png");
      -webkit-transition: opacity 30s ease-out;
      -moz-transition: opacity 30s ease-out;
      -o-transition: opacity 30ss ease-out;
      transition: opacity 30s ease-out;
}
.row-container {
  position: relative;
  width:508px;
  display: grid;
  grid-template:  auto / auto auto auto auto;
  grid-gap: 8px;
  margin: 30px 30px 30px 550px;
  padding: 0px;
}
.row-container-1 {
  position: relative;
  width:508px;
  display: grid;
  grid-template:  auto;
  margin: -20px 0px -20px 550px;
  padding: 0px;
}
.print-container {
  width:125px;
  border:none;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  border-radius:20px;
  overflow:hidden;
}
.year-label {
  font-size:72pt;
  padding:30px;
}
.print-thumb {
  width:125px;
}
#summary-window {
  background:#ffffffee;
  position:fixed;
  left:45px;
  top:2.5%;
  width:600px;
  min-height:650px;
  height:95%;
  border:none;
  border-radius:20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
html {
  touch-action: none!important;
}
.selected {
  width:105px;
  border:10px solid #ffff00cc;
  border-radius:20px;
  padding:-20px -20px -20px -20px!important;
  
}
#page-iframe-container {
  background:#000000;
  position:fixed;
  left:2%;
  top:2%;
  width:96%;
  min-height:96%;
  border:none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  border-radius:20px;
  z-index:1000;
}
#loading-img {
  position:fixed;
  top:50%;
  left:50%;
  display:none;
  z-index:5000;
  transform:translate(-50%, -50%);
}
.selected {
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,1);
}
#name-section {
  color:#ffffff;
  font-family:'Silkscreen';
  font-size:17.5pt;
  text-shadow: 0px 0px 7px #000000;
}

@media only screen and (max-width: 1350px) {
  .row-container {
    position: relative;
    width:250px;
    display: grid;
    grid-template:  auto / auto auto;
    grid-gap: 8px;
    padding: 0px;
  }
  .row-container-1 {
    position: relative;
    width:250px;
    display: grid;
    grid-template:  auto auto;
    padding: 0px;
  }
  #name-section {
    color:#ffffff;
    font-family:'Silkscreen';
    font-size:12.5pt;
    text-shadow: 0px 0px 7px #000000;
  }
}
@media only screen and (max-width: 1050px) {
  .row-container {
    position: relative;
    left:50px;
    width:250px;
    display: grid;
    grid-template:  auto / auto auto;
    grid-gap: 8px;
    padding: 0px;
  }
  .row-container-1 {
    position: relative;
    width:250px;
    display: grid;
    grid-template:  auto;
    padding: 0px;
  }
  #name-section {
    color:#ffffff;
    font-family:'Silkscreen';
    font-size:12.5pt;
    text-shadow: 0px 0px 7px #000000;
  }
}
@media only screen and (max-width: 1000px) {
  .row-container {
    position: relative;
    left:50px;
    width:250px;
    display: grid;
    grid-template:  auto / auto;
    grid-gap: 8px;
    padding: 0px;
       
  }
  .row-container-1 {
    position: relative;
    width:250px;
    display: grid;
    grid-template:  auto;
    padding: 0px;
  }
  #name-section {
    color:#ffffff;
    width:120px;
    font-family:'Silkscreen';
    font-size:12.5pt;
    text-shadow: 0px 0px 7px #000000;
  }
}

